
/*---hero image---*/

#spa_hero {
    background: url(../images/spa_hero.jpg) no-repeat;
    height: 200px;
 }

 #spa_hero-heading-box {
    align-self: end;
 }

 #spa-hero-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }


/*---Massage therapy---*/

#massage-therapy {
    background: url(../images/massage_therapy_mobile.jpg) no-repeat;
    height: auto;
    min-height: 200px;
 }

#massage-arrow1 {
    align-self: end;
 }
 
 #massage-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

/*---Massage drop down---*/

#massage-arrow1 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#massage-arrow1 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#massage-arrow1 input, #massage-drop-down {
    display: none;
 }
 
 #massage-arrow1 input:checked ~ #massage-drop-down {
    display: block;
 }
 
 #massage-arrow1 input:checked ~ label img {
    transform: rotate(90deg);
 }

#massage-drop-down {
   font-size: 16px;
   padding-top: 15px;
}

/*---Hot stones---*/

 #hot-stones {
    background: url(../images/hot_stones_mobile.jpg) no-repeat;
    height: auto;
    min-height: 200px;
 }

 #hot-stones-box {
    align-self: end;
 }

 #hot-stones-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 /*--hot stones drop down--*/
 #hot-stones-box-arrow2 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#hot-stones-box-arrow2 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#hot-stones-box-arrow2 input, #hot-stones-drop-down {
    display: none;
 }
 
 #hot-stones-box-arrow2 input:checked ~ #hot-stones-drop-down {
    display: block;
 }
 
 #hot-stones-box-arrow2 input:checked ~ label img {
    transform: rotate(90deg);
 }

#hot-stones-drop-down {
   font-size: 14px;
   padding-top: 15px;
}

/*---hand and foot treatments---*/

#hand-foot {
    background: url(../images/hand_foot_treatments_mobile.jpg) no-repeat;
    min-height: 200px;
    height: auto;
 }

 #hand-foot-box {
    align-self: end;
 }

 #hand-foot-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 /*--hand/foot drop down--*/
 #hand-foot-box-arrow3 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#hand-foot-box-arrow3 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#hand-foot-box-arrow3 input, #hand-foot-drop-down, #man-pol-img, #man-img, #man-pol, #man, #ped-pol-img, #ped-img, #ped-pol, #ped, #parrafin {
    display: none;
 }
 
#hand-foot-box-arrow3 input:checked ~ #hand-foot-drop-down {display: block;}
#hand-foot-box-arrow3 input:checked ~ #man-pol-img {display: block;}
#hand-foot-box-arrow3 input:checked ~ #man-img {display: block;}
#hand-foot-box-arrow3 input:checked ~ #man-pol {display: block;}
#hand-foot-box-arrow3 input:checked ~ #man {display: block;}
#hand-foot-box-arrow3 input:checked ~ #ped-pol-img {display: block;}
#hand-foot-box-arrow3 input:checked ~ #ped-img {display: block;}
#hand-foot-box-arrow3 input:checked ~ #ped-pol {display: block;}
#hand-foot-box-arrow3 input:checked ~ #ped{display: block;}
#hand-foot-box-arrow3 input:checked ~ #parrafin {display: block;}

#hand-foot-box-arrow3 input:checked ~ label img {
    transform: rotate(90deg);
}

#hand-foot-drop-down, #man-pol-img, #man-img, #man-pol, #man, #ped-pol-img, #ped-img, #ped-pol, #ped, #parrafin {
   font-size: 14px;
   padding-top: 0px;
   text-align:center;
}

/*---Scrubs wraps & Facials---*/

#scrub-wrap {
    background: url(../images/scrubs_wraps_facials_hero_mobile.jpg) no-repeat;
    height: 200px;
 }

 #scrub-wrap-box {
    align-self: end;
 }

 #scrub-wrap-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 /*--Scrubs wraps & Facials drop down--*/
 #scrub-wrap-box-arrow4 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#scrub-wrap-box-arrow4 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#scrub-wrap-box-arrow4 input, #avocado-img, #avocado-label, #avocado-info, #face-brush-img, #face-brush-label, #face-brush-info, #facial-content-img, #facial-content-label, #facial-content-info {
    display: none;
}

#scrub-wrap-box-arrow4 input:checked ~ #avocado-img {display: block; padding-top:20px;}
#scrub-wrap-box-arrow4 input:checked ~ #avocado-label {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #avocado-info {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #face-brush-img {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #face-brush-label {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #face-brush-info {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #facial-content-img {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #facial-content-label {display: block;}
#scrub-wrap-box-arrow4 input:checked ~ #facial-content-info {display: block;}

#scrub-wrap-box-arrow4 input:checked ~ label img {
    transform: rotate(90deg);
}

#avocado-info, #face-brush-info, #facial-content-info {
   font-size: 14px;
   text-align: center;
   position: relative;
   bottom: 30px;
}

#avocado-label, #face-brush-label, #facial-content-label {
   background-color: white;
   position: relative;
   font-size: 14px;
   bottom: 50px;
   padding: 10px 0px 10px 0px;
}

/*---Waxing Services---*/

#wax {
    background: url(../images/waxing_services_mobile.jpg) no-repeat;
    height: 200px;
 }

 #wax-box {
    align-self: end;
 }

 #wax-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 /*--Waxing Services drop down--*/
 #wax-box-arrow5 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#wax-box-arrow5 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#wax-box-arrow5 input, #wax-box-drop-down {
    display: none;
 }
 
 #wax-box-arrow5 input:checked ~ #wax-box-drop-down {
    display: block;
 }
 
 #wax-box-arrow5 input:checked ~ label img {
    transform: rotate(90deg);
 }

#wax-box-drop-down {
   font-size: 14px;
   padding-top: 15px;
   text-align: center;
}

/*---Algonquin Spa Features---*/

#features {
    background: url(../images/spa_features_mobile.jpg) no-repeat;
    height: 200px;
 }

 #features-box {
    align-self: end;
 }

 #features-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }

 /*--Spa Features drop down--*/
 #features-box-arrow6 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#features-box-arrow6 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#features-box-arrow6 input, #features-box-drop-down {
    display: none;
 }
 
 #features-box-arrow6 input:checked ~ #features-box-drop-down {
    display: block;
 }
 
 #features-box-arrow6 input:checked ~ label img {
    transform: rotate(90deg);
 }

#features-box-drop-down {
   font-size: 14px;
   padding-top: 15px;
   text-align: center;
}

/*---Spa Products---*/

#products {
    background: url(../images/products_mobile.jpg) no-repeat;
    height: 200px;
}

#products-box {
    align-self: end;
}

#products-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
}
 /*--Spa Products drop down--*/
 #products-box-arrow7 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#products-box-arrow7 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#products-box-arrow7 input, #products-box-drop-down {
    display: none;
 }
 
 #products-box-arrow7 input:checked ~ #products-box-drop-down {
    display: block;
 }
 
 #products-box-arrow7 input:checked ~ label img {
    transform: rotate(90deg);
 }

#products-box-drop-down {
   font-size: 14px;
   padding-top: 15px;
   text-align: center;
}

/*---Policies---*/

#policy {
    background: url(../images/policies_mobile.jpg) no-repeat;
    height: 200px;
 }

 #policy-box {
    align-self: end;
 }

 #policy-line p {
    font-size: 14px;
    line-height: 22px;
    margin-bottom: 20px;
 }
  /*--Policies drop down--*/
  #policy-box-arrow8 {
   position: relative;
   background-color: white;
   bottom: 30px;
   padding: 5px 10px 5px 10px;
   margin: 0px 10px 0px 10px;
   font-size: 14px;
   font-weight: bold;
}

#policy-box-arrow8 label img {
    width: 10px;
    height: 10px;
    cursor: pointer;
    transition: all .5s ease;
} 

#policy-box-arrow8 input, #policy-box-drop-down {
    display: none;
 }
 
 #policy-box-arrow8 input:checked ~ #policy-box-drop-down {
    display: block;
 }
 
 #policy-box-arrow8 input:checked ~ label img {
    transform: rotate(90deg);
 }

#policy-box-drop-down {
   font-size: 14px;
   padding-top: 15px;
   text-align: center;
}